.tab_list {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-left: 0;
    overflow: auto;
}

.tab_item {
    margin-right: 4px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid lightslategray;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.tab_item_active {
    margin-right: 4px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid slategrey;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background: darkslategray;
}

.tab_content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 4px 4px 4px;
}

.tab_content_active {
    display: block;

}

.tab_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;  
}

.tab_list_container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 10px;
}

.tab_content_container {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

.myBtn {
    background: #272822;
    color: white;
    font-size: medium;
    border: 2px solid #555652;
    padding: 5px;
    transition: border-radius 0.3s ease-in-out;
}

.myBtn:hover {
    border-radius: 10px;
    background: lightcoral;
    cursor: pointer;
}

.rmvBtn {
    background: #272822;
    color: white;
    font-size: medium;
    border: 2px solid #555652;
    margin-right: 4px;
    padding: 5px;
    transition: border-radius 0.3s ease-in-out;
}

.rmvBtn:hover {
    border-radius: 10px;
    background: lightcoral;
    cursor: pointer;
}

.desmosBtn {
    z-index: 999;
    text-align: center;
    background: #545454;
    border-radius: 5px;
    border-color: rgba(255,255,255,0.1);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    cursor: pointer;
}
